main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.display .ad-message {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.display .ad-message h1 {
  color: var(--accent);
}

.display .ad-message p {
  font-size: 15px;
  text-align: center;
  color: rgb(77, 51, 2);
}

.ad-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display .ad-message .order-btn button {
  background: rgb(219, 148, 14);
  color: var(--bg);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.main .welcome {
  text-align: center;
  margin-bottom: 30px;
}

.main .welcome h2 {
  color: var(--accent);
  margin-bottom: 10px;
}

.main .welcome p {
  color: var(--text);
  font-size: 16px;
}

.meals-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  row-gap: 120px;
  justify-content: center;
  width: 60rem;
  padding-top: 100px;
}

.meals-container .meal-card {
  border: 1px solid var(--accent-border);
  border-radius: 20px;
  width: 200px;
  height: 250px;
  position: relative;
}

.meals-container .meal-card .meal-image {
  background: var(--code-bg);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid var(--accent-border);
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
